.header{
  color: #fff;
  background: -webkit-linear-gradient(left, rgba(0,229,145,1), rgba(47,239,188,1));
  background: -o-linear-gradient(left, rgba(0,229,145,1), rgba(47,239,188,1));
  background: linear-gradient(to right, rgba(0,229,145,1), rgba(47,239,188,1));
  padding: 15px;
  margin-bottom: 20px;
}

.header h1{
  font-size: 2em;
  margin-left: 15px;
}
@media (max-width: 576px){
  .header{
    width: 100%;
    text-align: center;
  }
  .header h1{
    margin-left: 0;
  }
}
.shopping-container{
  max-width: 300px;
  min-height: 300px;
}
.border{
  border: 1px solid #d3d3d3;
}
.list-header{
  color: #fff;
  background: -webkit-linear-gradient(left, rgba(0,229,145,1), rgba(47,239,188,1));
  background: -o-linear-gradient(left, rgba(0,229,145,1), rgba(47,239,188,1));
  background: linear-gradient(to right, rgba(0,229,145,1), rgba(47,239,188,1));
}
.list-padding{
  padding: 5px 10px;
}
.under-line{
  border-bottom: 1px solid #d3d3d3;
}
.list-remove{
  float: right;
  padding-top: 5px;
  display: none;
}
.list-padding:hover .list-remove{
  display: block;
}
.checked{
  text-decoration: line-through;
  color: #999;
}
.form-group{
  padding: 10px;
}
.des-list{
  display: none;
}
@media only screen and (max-width: 768px) {
  .des-list{
    margin-top: 10px;
  }
}
.add-item{
  margin-left: 25px;
}

